.bash*
.cache
.local

.config/Slack
.config/spotify
.config/Vencord
.config/vesktop
.config/discord
.config/xdg-terminals.list
.config/mimeapps.list
.config/.gsd-*
.config/GNOME-*
.config/gnome-*
.config/gtk-*
.config/background
.config/dleyna-server-service.conf
.config/fish/fish_variables
.config/pavucontrol.ini
.config/user-dirs.*
.config/nwg-panel
.config/evolution
.config/enchant
.config/dconf
.config/totem
.config/pulse
.config/ibus
.config/ags
.config/go
.config/systemd
.config/autostart

.pki
.docker
.ssh
.swt
.var
.profile
.nvidia-settings-rc
monitors.xml

.rustup
.cargo
.bun
.npm
go

.gitconfig
.vim*
.zen
.mozilla
.eclipse

www

Desktop
Documents
Downloads
Pictures
Videos
